@charset "UTF-8";
#main section:nth-child(1) table tr td.kyoninka {
  padding: 0;
}
#main section:nth-child(1) table tr td.kyoninka p {
  padding: 15px 10px;
}
#main section:nth-child(1) table tr td.kyoninka p + p {
  border-top: 1px solid #ccc;
}
#main section:nth-child(1) table tr th {
  background: #fff5f7;
  font-weight: normal;
  width: 24%;
}
#main section:nth-child(2) div:not(:last-child) {
  margin-bottom: 40px;
}
#main section:nth-child(2) .lead {
  margin: 30px 0 60px !important;
  position: relative;
}
#main section:nth-child(2) .lead p:first-child {
  background-color: rgba(88, 183, 238, 1);
  border-radius: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto 10px;
  padding-top: 3px;
  position: relative;
  text-align: center;
  width: 230px;
}
@media all and (max-width: 414px) {
  #main section:nth-child(2) .lead {
    margin-bottom: 40px !important;
  }
  #main section:nth-child(2) .lead p:first-child {
    font-size: 16px;
    text-align: center;
    width: 184px;
  }
}
#main section:last-child .txt_01 {
  color: #f48a9d;
  font-weight: bold;
  font-size: 16px;
}
#main section:last-child .txt_02 {
  margin: 10px 0;
}
@media all and (max-width: 480px) {
  #main section:nth-child(2) div:nth-child(4) span {
    line-height: 1.2 !important;
  }
  #main section:nth-child(3) li {
    width: 9em;
  }
}
@media all and (max-width: 375px) {
  #main section:nth-child(2) div h3 span {
    line-height: 0.7 !important;
  }
}
@media (min-width: 481px) {
  #main section#renkei li {
    width: 14em;
  }
}
#main div.question {
  text-align: center;
  margin-top: 80px;
}
@media all and (max-width: 480px) {
  #main div.question {
    margin-top: 30px;
  }
}

#main section.graf ul li:nth-child(3),
#main section.graf ul li:nth-child(4) {
  margin-top: 50px;
}
#main section.graf h3 {
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: normal;
  padding: 0 10px;
  margin: 50px 0;
  color: #4d4d4d;
  border-bottom: none;
  text-align: center;
}
@media (max-width: 480px) {
  #main section.graf .txt {
    padding: 0 20px;
  }
  #main section.graf ul {
    margin-top: 0;
  }
  #main section.graf ul li {
    width: 100%;
  }
}

/* 追加日20220511 */
#guide #main .q_box p + p {
  margin-top: 1em;
}
@media all and (min-width: 481px) {
  #guide #main .q_wrap {
    background: url(/kuki/guide/images/photo_01_v3.svg) no-repeat 560px 198px;
    background-size: 92px 214px;
    padding: 20px 0;
  }
  .qa_01 #main .q_wrap {
    background-position: 560px 100px !important;
  }
  .qa_03 #main .q_wrap {
    background-position: 560px 2px !important;
  }
}
@media all and (max-width: 480px) {
  .arrow_02 {
    display: none;
  }
}
@media all and (max-width: 376px) {
  #guide #main .qa_tit_02 {
    background: url(/common/images/icon_futaba.svg) no-repeat 6px 13px, #8bc33e;
    background-size: 37px auto;
    height: 60px;
    line-height: 1.2;
    padding: 12px 10px 5px 49px;
  }
}
