@charset "UTF-8";

#contents {
  margin: 11px 0 50px;
}

.privacy_title {
  background: url(/common/images/icon_futaba.svg) no-repeat 6px 5px/37px auto, #8bc33e;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  height: 46px;
  line-height: 44px;
  margin-bottom: 10px;
  padding: 5px 0 5px 48px;
}

.privacy_lead {
  line-height: 1.6;
  margin-bottom: 20px;
  padding: 0 20px;
}

.privacy_contents {
  padding: 0 20px;
}

.privacy_contents:first-of-type {
  margin-bottom: 5%;
}

.privacy_heading {
  font-size: 17px;
  color: #f8aacc;
  font-weight: bold;
  border-bottom: 1px solid #f48a9d;
  margin-bottom: 15px;
  padding: 4px 0 4px 1px;
}

.privacy_heading span {
  border-left: 5px solid #f48a9d;
  display: inline-block;
  padding-top: 3px;
  padding-left: 5px;
}

.privacy_definition {
  margin-bottom: 5%;
}

.privacy_subheading {
  font-size: 15px;
  font-weight: bold;
}

.privacy_text {
  line-height: 1.6;
}

.privacyDetail {
  margin-top: 5%;
  padding-left: 5%;
}

.privacyDetail_smallheading {
  font-weight: normal;
  line-height: 1.6;
  padding-left: 1em;
  text-indent: -1em;
}

.privacyDetail_list {
  padding-right: 20px;
}

.privacyDetail_text {
  line-height: 1.6;
  padding-left: 1em;
  text-indent: -1em;
}

.privacyDetail_text--indent {
  padding-left: 0;
  text-indent: 0;
}

.privacyDetail_text--day {
  text-align: right;
}

.privacyDetail_list--margin {
  margin-bottom: 5%;
}

.privacyDetail--padding {
  margin-top: 0 !important;
}

.privacy_purpose {
  margin-top: 50px;
}

/* .privacy_purpose h4 {
  text-align: center;
  margin-bottom: 20px;
} */

.privacy_purpose .purpose_heading {
  border-bottom: 1px solid #f48a9d;
  color: #f8aacc;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
  padding: 4px 0 4px 1px;
}

.privacy_purpose .purpose_heading span {
  border-left: 5px solid #f48a9d;
  display: inline-block;
  padding-top: 3px;
  padding-left: 5px;
}

.privacy_purpose .purpose_title {
  font-weight: bold;
}

.privacy_purpose div:nth-child(2),
.privacy_purpose div:nth-child(3) {
  margin-bottom: 15px;
}

.privacy_purpose ul li {
  margin-left: 20px;
  line-height: 1.6;
}

.privacy_purpose .attention {
  margin-top: 20px;
  margin-bottom: 20px;
}

.privacy_purpose .attention p:not(:last-child) {
  margin-bottom: 10px;
}

.privacy_purpose p.seiteibi {
  text-align: right;
  margin-top: 20px;
}

@media all and (min-width: 481px) {
  .privacy {
    width: 710px;
    float: left;
  }
}

@media all and (min-width: 768px) {
  .privacy_title {
    font-size: 20px;
  }

  .privacy_lead {
    margin-bottom: 40px;
    padding: 0;
  }

  .privacy_contents {
    padding: 0;
  }

  .privacy_contents:first-of-type {
    margin-bottom: 40px;
  }

  .privacy_heading {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .privacy_heading br {
    display: none;
  }

  .privacy_definition {
    padding: 0;
  }

  .privacy_definition {
    margin-bottom: 20px;
  }

  .privacy_text {
    margin-bottom: 20px;
  }

  .privacyDetail {
    margin-top: 15px;
    padding-left: 2%;
  }

  .privacyDetail--padding {
    padding-left: 0;
  }

  .privacyDetail_smallheading {
    margin-bottom: 5px;
  }

  .privacyDetail_list {
    padding-right: 0;
  }

  .privacyDetail_list--margin {
    padding-left: 2%;
  }

  .purpose_heading {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

@media all and (min-width: 1130px) {
  .privacy_heading span,
  .purpose_heading span {
    font-size: 19px;
  }

  .privacyDetail_list--margin {
    margin-bottom: 15px;
    padding-left: 20px;
  }
}

/* 施設基準 */
.privacy2 {
  margin-top: 60px;
}

.table_box {
  width: 100%;
  margin-top: 10px;
}

.table_box th {
  font-weight: normal;
  padding: 5px 20px;
  empty-cells: hide;
  background-color: #f6fef0;
  border: 1px solid #4b4b4b;
}

.table_box th.table_box_title1 {
  width: 70%;
}

.table_box th.table_box_title2 {
  width: 30%;
}

.table_box td {
  padding: 10px 20px;
  border: 1px solid #4b4b4b;
}

.table_box td.table_box_price {
  text-align: right;
}

.privacy_price {
  margin-bottom: 0;
}

@media all and (max-width: 468px) {
  .privacy2 .privacy_lead,
  .privacy2 .privacy_contents {
    padding: 0;
  }

  .table_box th.table_box_title1 {
    width: 60%;
  }

  .table_box th.table_box_title2 {
    width: 40%;
  }
}
