@charset "UTF-8";

@media all and (min-width: 601px) {
  .sp {
    display: none;
  }
}

@media all and (max-width: 600px) {
  .pc {
    display: none;
  }
}

body,
h1 {
  margin: 0;
  padding: 0;
}

.mainv {
  height: auto;
  margin: 30px 0;
  background-size: cover;
  background-position: top center;
  position: relative;
}

.mainv h1 {
  text-align: center;
}

.mainv h1 img {
  padding: 0;
  margin-left: 0;
  width: 40%;
}
@media all and (max-width: 600px) {
  .mainv h1 img {
    width: 70%;
  }
}

.mainv > img {
  position: absolute;
  margin-top: 4%;
  width: 19%;
  right: 41%;
  transform: translate(172%, -39px);
  z-index: 1;
}
@media all and (max-width: 600px) {
  .mainv > img {
    display: block;
  }
}

.fluffy {
  animation: fluffy1 3s ease infinite;
}

main {
  max-width: 1200px;
  margin: auto;
}

main section.cta {
  margin-top: 0px;
  padding: 20px 0;
  position: relative;
  width: 80%;
  margin-left: 10%;
  background-color: #f2ffe7;
  border-radius: 15px;
}
@media (max-width: 600px) {
  main section.cta {
    width: 95%;
    margin-left: 2.5%;
  }
}
main section.cta a {
  text-align: center;
  width: 310px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  margin: 30px auto 20px;
  background-color: #f48a9d;
  display: block;
  background: #f48a9d;
  background: -moz-linear-gradient(top, #f48a9d 72%, #ffffff 100%);
  background: -webkit-linear-gradient(top, #f48a9d 72%, #ffffff 100%);
  background: linear-gradient(to bottom, #f48a9d 72%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f48a9d', endColorstr='#ffffff',GradientType=0 );
  border-radius: 30px;
  font-size: 16px;
  border: 1px solid #ccc;
  position: relative;
  text-decoration: none;
  transition: opacity 0.4s ease-out;
}
@media all and (max-width: 420px) {
  main section.cta a {
    width: 80%;
  }
}
main section.cta a:hover {
  opacity: 0.7;
}
main section.cta a:after {
  content: "";
  background: url(../../../../common/images/arrow_01.svg);
  background-repeat: repeat;
  width: 13px;
  height: 16px;
  position: absolute;
  top: 21px;
  right: 10px;
  border: none;
  background-repeat: no-repeat;
}
main section.cta .fluffy {
  width: 15%;
  left: -5%;
  position: absolute;
  top: 65%;
}

main section.cta .cta_title {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: #f48a9d;
}

main section.cta .link_03,
main section.cta .link_04,
main section.cta .link_05,
main section.cta .link_06 {
  text-align: center;
  width: 310px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  margin: 30px auto 20px;
  display: block;
  background: linear-gradient(to bottom, #f48a9d 72%, #fff 100%);
  border-radius: 30px;
  font-size: 16px;
  border: 1px solid #ccc;
  position: relative;
  text-decoration: none;
  transition: opacity 0.4s ease-out;
}

@media (max-width: 420px) {
  main section.cta .link_03,
  main section.cta .link_04,
  main section.cta .link_05,
  main section.cta .link_06 {
    width: 80%;
  }
}

footer {
  width: 100%;
  margin-top: 100px;
  background-color: #e7ffc5;
  text-align: center;
}
footer img {
  max-width: 500px;
  width: 40%;
  display: inline-block;
  margin-top: 50px;
}
p {
  font-size: 0.8rem;
}
footer p:last-child {
  margin-top: 50px;
}
