@charset "UTF-8";

@media (max-width: 376px) {
  header h1 .txt_00 span {
    font-size: 10px !important;
  }
}
section#open_box {
  border: 1px solid #98cf36;
  border-radius: 10px;
  padding: 17px 10px 10px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1, #f5f8ee), color-stop(0, #ffffff));
  background: -webkit-linear-gradient(top, #ffffff 80%, #f5f8ee 100%);
  background: -moz-linear-gradient(top, #ffffff 80%, #f5f8ee 100%);
  background: -o-linear-gradient(top, #ffffff 80%, #f5f8ee 100%);
  background: -ms-linear-gradient(top, #ffffff 80%, #f5f8ee 100%);
  background: linear-gradient(top, #ffffff 80%, #f5f8ee 100%);
}
section#open_box .txt_04,
section#open_box .txt_05 {
  position: relative;
}
section#open_box .txt_04:before,
section#open_box .txt_05:before {
  background: url(/common/images/icon_check_02.svg) no-repeat 0 0 !important;
  content: "";
  position: absolute;
  display: block;
  width: 26px;
  height: 22px;
}
section#open_box .txt_box {
  margin: 0 auto;
  width: 450px;
}
section#open_box .txt_box .txt_02 {
  font-size: 16px;
  background: #ebf4e0;
  border-radius: 20px;
  color: #62b972;
  padding: 10px 15px;
  margin-top: 15px;
  text-align: center;
  line-height: 1;
}
section#open_box .txt_box .txt_03 {
  width: 220px;
  margin: 30px auto 0;
  text-align: center;
}

#main section#open_box .txt_box_sakura .sakura_toho {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main section#open_box .txt_box_sakura .sakura_toho p {
  background-color: #58b7ed;
}
#main section#open_box .txt_box_sakura .photo_sakura {
  padding: 5px;
  background: #fff;
  width: 213px;
  box-shadow: 0 0 4px #d4cdc4;
  margin: 13px;
  height: 213px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main section#open_box .txt_box_sakura .sakura_pic {
  color: #f48a9d;
  font-size: 1.5em;
  text-align: center;
  margin-left: 0;
  margin-top: 0;
}
#main section#open_box .txt_box_sakura .photo_sakura img {
  width: 203px;
  height: 203px;
}
#main section#open_box .txt_box_sakura ul {
  margin: auto;
}
#main section#open_box .txt_box_sakura ul li {
  width: auto;
  height: 27px;
  text-align: center;
  color: #58b7ed;
  font-size: 13px;
  font-weight: bold;
  padding: 2px;
  margin: 3px;
  border: 2px solid #58b7ed;
}
#main section#open_box .txt_box_sakura ul li:nth-child(3),
#main section#open_box .txt_box_sakura ul li:nth-child(4) {
  width: 61px;
}
#main section#open_box .txt_box_sakura .shiny-btn-sakura {
  display: inline-block;
  width: 170px;
  height: 30px;
  border-radius: 5px/5px;
  background-color: #58b7ed;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  position: relative;
}
#main section#open_box .txt_box_sakura a.shiny-btn-sakura span:after {
  content: "▶︎";
  position: absolute;
  right: 5px;
  color: #fff;
  font-size: 14px;
}
@media all and (max-width: 480px) {
  #main section#open_box .txt_box_sakura {
    margin: 15px auto;
  }
}
#main section#sec_01 p:last-child a {
  position: relative;
}
#main section#sec_01 p:last-child a::before {
  content: "▶︎";
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
}
#main section#sec_02 .lead {
  margin: 30px 0 60px !important;
  position: relative;
}
#main section#sec_02 .lead p:first-child {
  background-color: rgba(88, 183, 238, 1);
  border-radius: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto 10px;
  padding-top: 3px;
  position: relative;
  text-align: center;
  width: 230px;
}
@media all and (max-width: 414px) {
  #main section#sec_02 .lead {
    margin-bottom: 40px !important;
  }
  #main section#sec_02 .lead p:first-child {
    font-size: 16px;
    text-align: center;
    width: 184px;
  }
}
#main section#sec_02 div div.pink {
  text-align: center;
  display: block;
}
#main section#sec_02 div div.pink p {
  text-align: left !important;
  display: inline-block;
  width: 86%;
}
@media all and (max-width: 480px) {
  #main section#sec_02 div div.pink p {
    width: 100%;
  }
}
#main section#sec_02 div div.pink p:not(:last-child) {
  margin-bottom: 14px;
}
@media all and (min-width: 481px) {
  .banner_article .bnr_riji {
    margin-bottom: 40px;
  }
}
#main section#sec_07 {
  position: relative;
}
#main section#sec_07 p {
  line-height: 1;
  position: absolute;
  right: 10px;
  top: 8px;
}
#main section#sec_07 p a {
  border: 2px solid #fff;
  color: #fff;
  background: url(/common/images/arrow_01.svg) no-repeat 107px center/12px 16px;
  border-radius: 10px;
  font-size: 16px;
  padding: 5px 17px 2px 9px;
  display: block;
}
@media all and (min-width: 481px) {
  #main section#sec_06 li {
    width: 14em;
    margin-bottom: 10px;
  }
  section#sec_07 p {
    margin-top: 3px !important;
  }
  section#open_box .txt_box_01 br {
    display: none;
  }
  section#open_box .txt_box {
    width: 500px;
  }
  section#open_box .txt_box .txt_03 {
    width: 270px;
  }
  section#open_box .txt_box_00 {
    width: 500px;
    margin: 15px auto 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 36px;
  }
  section#open_box .txt_05 {
    padding-top: 3px;
  }
}
@media all and (max-width: 480px) {
  section#open_box .txt_box_00 {
    margin: 0 10px;
    padding: 2vw;
  }
  #main section#sec_02 div:nth-child(4) span {
    display: block;
    background-position: center 4px;
  }
  #main section#sec_06 ul {
    padding-left: 2em;
    text-indent: -1em;
  }
  #main section#sec_06 ul li {
    width: 50%;
  }
  #main section#sec_07 p {
    padding: 0;
    right: 30px;
    top: -3px;
  }
  #main section#sec_07 p a {
    padding: 3px 17px 2px 9px;
  }
}
@media all and (max-width: 375px) {
  #main section#sec_07 p {
    padding: 0;
    right: 30px;
    top: 1px;
  }
  #main section#sec_07 p a {
    padding: 4px 17px 2px 9px;
  }
}
#open_box .buin {
  margin-top: 27px;
}
#open_box .txt_06 {
  background: url(/top/images/clinic_icon.svg) no-repeat center 1px/55px 55px;
  font-weight: bold;
  text-align: center;
  padding: 30px 0 0 0;
}
@media all and (max-width: 480px) {
  #open_box .txt_06 {
    background-size: 51px auto !important;
    background-position: center 0 !important;
  }
}
@media (max-width: 375px) {
  #open_box .txt_06 {
    background-size: 49px auto !important;
    background-position: center 0 !important;
  }
}
#open_box .txt_06 span {
  font-size: 20px;
  background-position: center top;
  color: #f48a9d;
  display: inline-block;
  padding: 31px 0 0;
}
@media (max-width: 480px) {
  #open_box .txt_06 span {
    background-size: 24px auto;
    font-size: 16px;
  }
}
@media (max-width: 414px) {
  #open_box .txt_06 span {
    background-size: 24px auto;
    font-size: 16px;
  }
}
@media (max-width: 375px) {
  #open_box .txt_06 span {
    line-height: 0.7 !important;
  }
}
@media all and (min-width: 481px) {
  .txt_box_01 {
    margin: 15px 25px 15px 25px;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
@media all and (max-width: 480px) {
  .txt_box_01 {
    display: flex;
    flex-direction: column;
  }
}
@media all and (max-width: 480px) {
  .line_right {
    margin: 15px auto;
  }
}
#open_box .txt_08 {
  display: inline-block;
  width: 213px;
  height: 30px;
  border-radius: 14.5px / 14.5px;
  background-color: #f48a9d;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  clear: both;
}
#open_box .kitasenju_toho .txt_08 {
  background-color: #f48a9d !important;
}
#open_box .txt_08 > span,
.txt_12 > span {
  background: url(/top/images/people_icon.svg) no-repeat left 0/8px 14px;
  font-size: 11px;
  padding-left: 13px;
  position: relative;
  top: -2px;
}
#open_box .txt_09,
.txt_13 {
  font-size: 14px;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
}
#open_box .photo_kitasenju {
  padding: 5px;
  background: #fff;
  width: 213px;
  box-shadow: 0 0 4px #d4cdc4;
  margin: 13px;
  height: 213px;
  text-align: center;
}
#open_box .photo_kitasenju img {
  width: 203px;
  height: 203px;
}
#open_box .txt_box_01 ul {
  overflow: hidden;
  display: flex;
  justify-content: center;
}
@media all and (max-width: 480px) {
  #open_box .txt_box_03 {
    margin: 15px auto;
  }
}
#open_box .txt_box_02 ul.chiiki_kitasenju > li {
  width: 53px;
  height: 27px;
  text-align: center;
  color: #ff8599;
  font-size: 13px;
  font-weight: bold;
  padding: 2px;
  margin: 3px;
  border: 2px solid #ff8599;
}
a.shiny-btn-kitasenju,
.shiny-btn-edogawa,
.shiny-btn-yachiyo {
  position: relative;
}
a.shiny-btn-kitasenju span:after,
a.shiny-btn-yachiyo span:after {
  content: "▶︎";
  position: absolute;
  right: 5px;
  color: #fff;
  font-size: 14px;
}
#open_box .txt_10,
.txt_14 {
  text-align: center;
}
#open_box .kitasenju_toho,
.shinkoiwa_toho {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#open_box .txt_12 {
  display: inline-block;
  width: 213px;
  height: 30px;
  border-radius: 14.5px / 14.5px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  clear: both;
}
#open_box .photo_shinkoiwa {
  padding: 5px;
  background: #fff;
  width: 213px;
  box-shadow: 0 0 4px #d4cdc4;
  margin: 13px;
  height: 213px;
  text-align: center;
}
#open_box .photo_shinkoiwa img {
  width: 203px;
  height: 203px;
}
#open_box .txt_box_03 ul > li {
  width: 49px;
  height: 27px;
  text-align: center;
  color: #e7b055;
  font-size: 13px;
  font-weight: bold;
  padding: 2px;
  margin: 3px;
  border: 2px solid #e7b055;
}
#open_box .txt_box_03 ul > li:nth-child(2) {
  width: 61px;
  height: 27px;
}
#open_box .shiny-btn-edogawa {
  display: inline-block;
  width: 170px;
  height: 30px;
  border-radius: 5px / 5px;
  background-color: #e7b055;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
a.shiny-btn-edogawa span:after {
  content: "▶︎";
  position: absolute;
  right: 5px;
  color: #fff;
  font-size: 14px;
}
@media (min-width: 481px) {
  .txt_box_01 {
    justify-content: unset;
  }
  .txt_box_01 .line_right,
  .txt_box_01 .txt_box_03,
  .txt_box_01 .txt_box_sakura,
  .txt_box_01 .txt_box_yachiyo {
    width: 50% !important;
  }
  .txt_box_01 .txt_box_yachiyo {
    margin-top: 35px;
  }
}
#open_box .shinkoiwa_toho .txt_12 {
  background-color: #e7b055;
}
#open_box .yachiyo_toho .txt_12 {
  background-color: #c7b2d6;
}
#main section#open_box .txt_box_sakura ul,
#main section#open_box .txt_box_yachiyo ul {
  margin: 0 auto;
}

/* 六本木本部 */
@media (min-width: 481px) {
  .txt_box_kakuin .line_right {
    padding-top: 40px;
  }
}

/* タブ設置 */
.news_show .show {
  display: none;
}
.news_show .show.active {
  display: block;
}
#open_box .kukiin_toho {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#open_box .kukiin_toho .txt_08 {
  display: inline-block;
  width: 213px;
  height: 30px;
  border-radius: 14.5px / 14.5px;
  background-color: #8bc33f;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  clear: both;
}
#open_box .photo_kukiin {
  padding: 5px;
  background: #fff;
  width: 213px;
  box-shadow: 0 0 4px #d4cdc4;
  margin: 13px auto !important;
  height: 213px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#open_box .photo_kukiin img {
  width: 203px;
  height: 203px;
}
#open_box .kukiin_box .txt_box_02 ul {
  flex-wrap: wrap;
  width: 280px;
  margin: 0 auto;
}
#open_box .kukiin_box .txt_box_02 ul > li {
  width: 49px;
  height: 27px;
  text-align: center;
  color: #8bc33f;
  font-size: 13px;
  font-weight: bold;
  padding: 2px;
  margin: 3px;
  border: 2px solid #8bc33f;
}
#open_box .kukiin_box .txt_box_02 ul li:nth-child(4) {
  width: 61px;
}
#open_box .kukiin_box .txt_box_02 ul > li:last-child {
  width: 61px;
}
#open_box .shiny-btn-kukiin {
  display: inline-block;
  width: 170px;
  height: 30px;
  border-radius: 5px / 5px;
  background-color: #8bc33f;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  position: relative;
}
a.shiny-btn-kukiin span:after {
  content: "▶︎";
  position: absolute;
  right: 5px;
  color: #fff;
  font-size: 14px;
}
@media (min-width: 481px) {
  .tab_chiba {
    display: inherit;
  }
  .txt_box_kakuin .txt_box_03,
  .txt_box_kakuin .txt_box_sakura,
  .txt_box_kakuin .txt_box_yachiyo {
    width: 40%;
  }
  .txt_box_kakuin .line_right {
    width: 40% !important;
  }
  .tab_chiba .txt_box_sakura {
    margin-right: unset !important;
    margin-top: 0 !important;
  }
  .txt_box_kakuin .kukiin_box {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .news_list {
    margin: 15px 10px 0 !important;
  }
  .tab_area .tab {
    font-size: 16px;
  }
  #kakuin_tab_area {
    font-size: 16px;
  }
  .panel_area {
    padding: 20px 0 !important;
  }
  #kakuin_tab_area {
    margin: 10px 10px 0;
  }
  .tab_chiba .txt_box_yachiyo {
    margin: 15px auto;
  }
}

/* マップ */
section#open_box .txt_box {
  margin: 30px auto !important;
}
section#open_box .top_map {
  margin: 0 25px;
}
section#open_box .top_map img {
  max-width: 100%;
}
@media (max-width: 480px) {
  section#open_box .txt_box {
    margin: 27px auto !important;
  }
  section#open_box .top_map {
    margin: 0 10px;
  }
}
